.header { 
    font-family: Impact, Charcoal, sans-serif;
    font-size: large; 
}
.header li { 
    font-family: 'Times New Roman', Times, serif;
    width: 100px;
    height: 50px;
    color: black;
    display: inline;
    font-weight: bold;
}
.Button { 
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    text-decoration: none;
    color: #000;
}
.Href {
    text-decoration: none;
    color: #000;
}
.Content { 
    border-top: 2px solid black;
    border-bottom: 2px solid black; 
    padding: 10px; 
    margin: 0; 
}
.button { 
    padding: 10px; 
    margin: 0; 
}
.Signup, .Login { 
    background-color: #02F78E; 
    text-align: center; 
}
.Cancel { 
    background-color: red; 
    text-align: center; 
}
.Signup_page { 
    background-color: #00a7d0; 
    text-align: center; 
}
