.header { 
    font-family: Impact, Charcoal, sans-serif;
    font-size: large; 
}
.header li { font-family: 'Times New Roman', Times, serif;
    color: black;
    display: inline; }
.Button { 
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    text-decoration: none;
    color: #000;
}
.Href {
    text-decoration: none;
    color: #000;
}
.Content { border-top: 2px solid black;
    border-bottom: 2px solid black; 
    height: 350px;
    width: 500px; 
    padding: 10px; 
    margin: 0; }
.button { padding: 10px; 
    margin: 0; }
.Signup, .Login { background-color: yellow; 
    text-align: center; }
.Cancel { background-color: red; 
    text-align: center; }
.Signup_page { background-color: grey; 
    text-align: center; }

.index_body { width: 1020px;
    margin: 0 auto;
    text-align: left;
    border-bottom: 2px solid black; }
.index_body header h1 { position: relative;
    animation:linear alternate;
    animation-name: run;
    animation-duration: 1s; }

@keyframes run {
    0% { right: -510px;}
    100% { right: 0;} }
.index_content { border-top: 2px solid black; 
    border-bottom: 2px solid black;
    width: 1020px;
    padding: 0; 
    margin: 0; }
.index_img p { border: 1px solid black; 
    width: 400px;
    height: 400px;
    margin: 20px;
    float: left; }
img { margin: 0;
    transition: transform 2s; }
img:hover{ transform: scale(4);
    transform-origin: 0 0; }
.index_box { clear: left;
    border-bottom: 1px solid black; }
.flex-container p { margin: 0.5em;
    text-align: justify; }
section { column-count: 2;
    column-gap: 20px;
    column-width: 300px;
    column-rule-style: solid; 
    column-rule-width: 5px; }
